.feedPageContainer {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    width: 100%;
}

.gamesList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    width: 100%;
}

.gamesList form {
    margin-top: 15px;
    grid-column: 1 / 4;
    width: 60%;
    display: flex;
    justify-content: center;
}

.gamesList .MuiFormControl-root {
    width: 50%;
    margin-right: 10px;
}