.feedPageContainer {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    width: 100%;
}

.gamesFilters {
    position: fixed;
    width: 20%;
    display: flex;
    flex-direction: column;
    height: 90vh;
    padding-top: 40px;
    padding-left: 10px;
    color: #4cd4a2;
}

.gamesFilters form {
    align-self: center;
    width: 90%;
}

.gamesFilters .MuiFormControl-root {
    margin: 20px 0;
}

.gamesList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    grid-column: 2 / 3;
    width: 100%;
}

.gamesList form {
    margin-top: 15px;
    grid-column: 1 / 4;
    width: 60%;
    display: flex;
    justify-content: center;
}

.gamesList .MuiFormControl-root {
    width: 50%;
    margin-right: 10px;
}