.searchPageContainer {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: fit-content 1fr;
    justify-items: center;
    width: 100%;
}