.gameCardPlaylist:hover {
    cursor: pointer;
}

.MuiListItem-button:hover:not(.added:hover) {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.04);
}

.notAdded .removeFromList,
.notAdded .addedToList {
    display: none;
}

.notAdded:hover .addToList {
    color: green;
}

.added:hover {
    color: red;
}

.added .removeFromList {
    display: none;
    color: red;
}

.added .addedToList {
    color: green;
}

.added:hover .removeFromList {
    display: inline;
}

.added:hover .addedToList {
    display: none;
}