.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
    align-items: center;
    height: 10vh;
    font-weight: 600;
    top: 0;
    position: fixed;
    background-color: #24426F;
    width: 100%
}

.headerLeft {
    width: 15%;
    color: white;
    text-align: center;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 25%;
}

nav a {
    color: #4cd4a2;
    text-decoration: none;
}

nav a:hover {
    color: #9EB3C9;
}

.active {
    color: #9EB3C9;
}

.active:hover {
    color: #9EB3C9;
}