.signUpContainer {
    display: flex;
    height: 90vh;
    flex-direction: column;
    justify-content: center;
}

.signUpContainer h1 {
    color: #4cd4a2
}

.signUpContainer form {
    display: flex;
    flex-direction: column;
    width: 25%;
    align-self: center;
    background-color: #1e375c;
    padding: 20px 30px;
    border-radius: 1em;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
}

.signUpPage1 {
    height: 40vh;
    justify-content: space-evenly;
}

.signUpPage2 {
    height: 60vh;
    justify-content: space-evenly;
}

.signUpPage2 .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.signUpPage2 button {
    width: 40%;
}