nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 24px;
    align-items: center;
    height: 5vh;
}

nav a {
    color: black;
    text-decoration: none;
}

nav a:hover {
    color: green;
}